body{
    background-color: black;
   }
    nav{
      width: 100%;
      height: 100px;
      background-color: black;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2px;
     
     }
    h1{
        position: absolute;
        width: 200px;
        height: 100px;
        margin-left: 40px;
        margin-top: 15px;
        font-size: 30px;
        text-decoration: none;
        background: linear-gradient(99.28deg, #8785FF 0%, #FF56DA 117.28%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: Arial, Helvetica, sans-serif;
       }

    #ul1 {
      list-style-type: none;
      margin: 0;
      padding:  5px 35px;
      overflow: hidden;
      background-color: rgb(0, 0, 0);
      word-spacing: 20px;
   }
    
    #li1 {
      float: right;
    }
    
    #li1 a {
      display: block;
      color: rgb(134, 134, 134);
      margin-right: 20px;
      padding: 9px 35px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: -17px; 
      word-spacing: px;
    }
    
    #li1 a:hover { 
      background-color: rgb(0, 0, 0);
      color:#d87eff;
    }
    
    
  

  #ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin-left: 380px;
    
    
  }

  #li2 {
    float: left;
  }

  #li2 a {
    display: block;
  color: rgb(255, 255, 255);
  margin-right: 21px;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 800px;
  float: center;
  
  }
  
#insta1{
  color: #000000;
}

#insta:hover {
  color: rgb(224, 122, 255) !important;
}

#insta:hover > * {
  color:rgb(224, 122, 255)!important;
}
#hub1{
  color: #000000;
}

#hub:hover {
  color: rgb(124, 255, 133) !important;
}

#hub:hover > * {
  color: rgb(124, 255, 133) !important;
}
#tube1{
  color: #000000;
}

#tube:hover {
  color: rgb(255, 126, 126) !important;
}

#tube:hover > * {
  color: rgb(255, 126, 126) !important;
}
#lab1{
  color: #000000;
}

#lab:hover {
  color: rgb(255, 205, 131)!important;
}

#lab:hover > * {
  color: rgb(255, 205, 131) !important;
}
img {
    display: block;
    width: 255px;
    height: 329px;
    border-radius: 10px;
    position: absolute;
    left: 329px;
    top: 150px;
  }
  h2{
    position: absolute;
      width: 580px;
      height: 100px;
      left: 605px;
      top: 115px;
      font-size: 35px;
      text-decoration: none;
      background: linear-gradient(99.28deg, #a09fff 0%, #f78ee0 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
     
  }
  #t3{
    position: absolute;
      width: 366px;
      height: 122px;
      left: 608px;
      top: 175px;
      font-size: 16px;
      text-decoration: none;
      color: #a7a7a7;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 25px;

  }
  #back{
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 2px solid #ffffff; 
    text-decoration: none;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 100px;
  }
  #back a{
    text-decoration: none;
  }

  p #a{
    color: white;
  }
 
  
  h3{
    position: absolute;
      width: 366px;
      height: 122px;
      left: 327px;
      top: 500px;
      font-size: 20px;
      text-decoration: none;
      color: #a7a7a7;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 25px;
  }
  #t4{
    position: absolute;
      width: 366px;
      height: 122px;
      left: 327px;
      top: 547px;
      font-size: 16px;
      text-decoration: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;

  }
  p #b{
    color: #a7a7a7;
    font-size: 16px;

  }
  h4{
    position: absolute;
      width: 366px;
      height: 122px;
      left: 327px;
      top: 745px;
      font-size: 20px;
      text-decoration: none;
      color: #a7a7a7;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 25px;
  }
  #t5{
    position: absolute;
      width: 550px;
      height: 122px;
      left: 327px;
      top: 795px;
      font-size: 16px;
      text-decoration: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;

  }
  p #c{
    color: #a7a7a7;
    font-size: 16px;
    

  }



  @media (max-width: 751px) {
      nav {
      display: block;
      width: 100%;
      }
      
      h1 {

      margin-left: 165px;

      font-size: 30px;
      text-decoration: none;
      background: linear-gradient(99.28deg, #8785FF 0%, #FF56DA 117.28%);
        background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: Arial, Helvetica, sans-serif;
      }
      #li1 a {
        display: block;
        color: rgb(134, 134, 134);
  
        padding: 9px 35px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 50px;
        margin-right: 9px; 
        }
      #ul2 {
        background-color: rgb(0, 0, 0);
        margin-left: 60px;
      
      }  
      
    
      #li2 {
        float: center;
      }
    
      #li2 a {
        display: block;
        color: rgb(255, 255, 255);
       
        padding: 14px 16px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 649px;
        float: center;
        margin-left: -16px;
        margin-right: -9px;
      }
     
      h2 {
        position: absolute;
        width: 292px;
        height: 100px;
        left: 134px;
        top: 124px;
        font-size: 35px;
        text-decoration: none;
        background: linear-gradient(99.28deg, #a09fff 0%, #f78ee0 50%);
          background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
      }
      #t3 {
        position: absolute;
        width: 222px;
        height: 191px;
        left: 175px;
        top: 201px;
        font-size: 13px;
        text-decoration: none;
        color: #a7a7a7;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 12px;
      }
      img {
        display: block;
        width: 127px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 27px;
        top: 219px;
      }
      h3 {
        position: absolute;
        width: 366px;
        height: 122px;
        left: 28px;
        top: 390px;
        font-size: 20px;
        text-decoration: none;
        color: #a7a7a7;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
      }
      #t4 {
        position: absolute;
        width: 366px;
        height: 122px;
        left: 28px;
        top: 423px;
        font-size: 13px;
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 14px;
      }
      p #b {
        color: #a7a7a7;
        font-size: 13px;
      }
      h4 {
        position: absolute;
        width: 366px;
        height: 122px;
        left: 28px;
        top: 565px;
        font-size: 20px;
        text-decoration: none;
        color: #a7a7a7;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
      }
      #t5 {
        position: absolute;
        width: 280px;
        height: 122px;
        left: 28px;
        top: 605px;
        font-size: 13px;
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 17px;
      }
      p #c {
        color: #a7a7a7;
        font-size: 13px;
      }
     
  }