body{
  background-color: black;
}

nav{
  width: 100%;
  height: 100px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

h1{
  position: absolute;
  width: 200px;
  height: 100px;
  margin-left: 40px;
  margin-top: 15px;
  font-size: 30px;
  text-decoration: none;
  background: linear-gradient(99.28deg, #8785FF 0%, #FF56DA 117.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: Arial, Helvetica, sans-serif;
}

#ul1 {
  margin: 0;
}

#li1 {
  float: right;
}

#li1 a {
  display: block;
  color: rgb(134, 134, 134);
  margin-right: 20px;
  padding: 9px 35px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#li1 a:hover { 
  background-color: rgb(0, 0, 0);
  color:#d87eff;
}

#ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  margin-left: 380px;
}

#li2 {
  float: left;
}

#li2 a {
  display: block;
  color:rgb(134, 134, 134);
  margin-right: 60px;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 445px;
  width: 90px;
  height: 30px;
}

img {
  display: block;
  width: 300px;
  height: 300px;
  height: auto;
  position: absolute;
  left: 740px;
  top: 150px;
}

h2{
  position: absolute;
  width: 580px;
  height: 100px;
  left: 290px;
  top: 200px;
  font-size: 35px;
  text-decoration: none;
  background: linear-gradient(99.28deg, #a09fff 0%, #f78ee0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
}

#t1{
  position: absolute;
  width: 580px;
  height: 100px;
  left: 290px;
  top: 280px;
  font-size:16px;
  text-decoration: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#t2{
  position: absolute;
  width: 513px;
  height: 100px;
  left: 290px;
  top: 310px;
  font-size:16px;
  text-decoration: none;
  color: #929292;
  font-family: Arial, Helvetica, sans-serif;
}

#insta1{
color: #000000;
}

#insta:hover {
color: rgb(224, 122, 255) !important;
}

#insta:hover > * {
color:rgb(224, 122, 255)!important;
}
#hub1{
color: #000000;
}

#hub:hover {
color: rgb(124, 255, 133) !important;
}

#hub:hover > * {
color: rgb(124, 255, 133) !important;
}
#tube1{
color: #000000;
}

#tube:hover {
color: rgb(255, 126, 126) !important;
}

#tube:hover > * {
color: rgb(255, 126, 126) !important;
}
#lab1{
  color: #000000;
}

#lab:hover {
  color: rgb(255, 205, 131)!important;
}

#lab:hover > * {
  color: rgb(255, 205, 131) !important;
}



@media (max-width: 751px) {
  nav {
    display: block;
    width: 100%;
  }

  h2{
    position: absolute;
    width: 287px;
    height: 100px;
    left:65px;
    top: 162px;
    font-size: 35px;
    text-decoration: none;
    background: linear-gradient(99.28deg, #a09fff 0%, #f78ee0 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
  }

  #t1 {
    position: absolute;
    width: 302px;
    height: 100px;
    left: 65px;
    top: 226px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

  #t2 {
    position: absolute;
    width: 325px;
    height: 100px;
    left: 65px;
    top: 270px;
    font-size: 14px;
    text-decoration: none;
    color: #929292;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    width: 85px;
    height: 35px;
    margin-left: 165px;
    font-size: 30px;
    text-decoration: none;
    background: linear-gradient(99.28deg, #8785FF 0%, #FF56DA 117.28%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
  }

  #li1 a {
    display: block;
    color: rgb(134, 134, 134);
    padding: 9px 35px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: -75px; 
  }

  #li1 a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #d87eff;
    height: 20px;
  }

  #li1 {
    margin-right: 7px;
  }

  #li1 {
    float: right;
    width: 85px;
  }
    
  #ul2 {
    background-color: rgb(0, 0, 0);
    margin-left: 60px;
  }  
  
  #li2 {
    float: center;
  }

  #li2 a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 649px;
    float: center;
    margin-left: -16px;
    margin-right: -9px;
  }

  img {
    display: block;
    width: 300px;
    height: 300px;
    height: auto;
    position: absolute;
    left: 740px;
    top: 150px;
  }


  img {
    top: 370px;
    left: 15px;
    width: 382px;
  }
}